/* Reset some default browser styles */
body, h1, h2, h3, p, ul, ol, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Page header styles */
h1 {
    font-size: 5vw;
    color: #333;
    margin-bottom: 20px;
}
#links{
    display: flex;
    gap: 2vw;
}


/* Form styles */
form {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Link styles */
a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: none;
}

/* List styles */
ul {
    list-style: none;
}

li {
    margin-bottom: 20px;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 17vw;
        text-align:center;
    }

    input[type="text"] {
        padding: 8px;
    }
    button[type="submit"] {
        padding: 8px 16px;
    }
}
